

.App {
  font-style: italic;
  display: flex;
  flex-direction: column;
}
.timer {
  position: relative;
  text-align: center;
  border: 1px solid black;
}
.seconds {
  position: absolute;
  font-size: 23px;
  margin-top: 8px;
  width: 21vw;
  left: 40%;
  right: 50%;
  color: black;
}
.buttons button {
  background: none;
  margin-bottom: 10px;
  padding: 5px 5px 5px 5px; 
  margin-left: 10px;
  outline: none;
}
button img{
  background: white;
  width: 30px;
  outline: none;
}
h2 img{
  width: 100px;
}
.indicator {
  height: 50px;
  animation: colorchange 50s infinite;
  -webkit-animation: colorchange 50s infinite;
  border: 1px solid black;
}
@keyframes colorchange
    {
      0%   {background: red;}
      25%  {background: yellow;}
      50%  {background: blue;}
      75%  {background: green;}
      100% {background: red;}
    }

@-webkit-keyframes colorchange
    {
      0%   {background: red;}
      25%  {background: yellow;}
      50%  {background: blue;}
      75%  {background: green;}
      100% {background: red;}
    }
